/.vs/Hackathon/config
/.vs/Hackathon/DesignTimeBuild
/.vs/Hackathon
/hackathon.client/obj/Debug
/Hackathon.Server/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0
/Hackathon.Server/obj/Hackathon.Server.csproj.nuget.dgspec.json
/Hackathon.Server/obj/Hackathon.Server.csproj.nuget.g.targets
/Hackathon.Server/obj/project.assets.json
/Hackathon.Server/obj/project.nuget.cache
/Hackathon.Server/obj/Debug/net8.0/ref
/Hackathon.Server/obj/Debug/net8.0/refint
/Hackathon.Server/obj/Debug/net8.0/staticwebassets
/Hackathon.Server/obj/Debug/net8.0/apphost.exe
/Hackathon.Server/obj/Debug/net8.0/Hackatho.F27A26DA.Up2Date
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.AssemblyInfo.cs
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.AssemblyInfoInputs.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.assets.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.csproj.AssemblyReference.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.csproj.BuildWithSkipAnalyzers
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.csproj.CoreCompileInputs.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.csproj.FileListAbsolute.txt
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.dll
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.genruntimeconfig.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.MvcApplicationPartsAssemblyInfo.cache
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.MvcApplicationPartsAssemblyInfo.cs
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.pdb
/Hackathon.Server/obj/Debug/net8.0/Hackathon.Server.sourcelink.json
/Hackathon.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Hackathon.Server/obj/Debug/net8.0/staticwebassets.build.json
/Hackathon.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
